<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }} <a class="font-weight-bold ml-1" target="_blank">Henry Ou</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a class="nav-link font-weight-bold">Contact me:</a>
        </li>
        <li class="nav-item">
          <a href="mailto: henryou0506@gmail.com" class="nav-link"><i class="fas fa-envelope-square footer-icon"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://www.facebook.com/changhao.ou" class="nav-link" target="_blank"><i class="fab fa-facebook-square footer-icon"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/henry-ou/" class="nav-link" target="_blank"><i class="fab fa-linkedin footer-icon"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/eaglet" class="nav-link" target="_blank"><i class="fab fa-github-square footer-icon"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
