<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" routerLinkActive="active" [routerLink]="['/dashboard']">{{getTitle()}}</a>
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <a class="nav-link pr-0">
        <div class="media align-items-center">
          <span class="avatar avatar-sm rounded-circle">
            <img alt="Image placeholder" src="assets/img/theme/profile.jpg">
          </span>
          <div class="media-body ml-2 d-none d-lg-block">
            <span class="mb-0 text-sm  font-weight-bold">Henry Ou</span>
          </div>
        </div>
      </a>
      <div *ngFor="let menuItem of menuItems">
        <a *ngIf="menuItem.title !== 'Download My Resume'" [routerLink]="[menuItem.path]" class="nav-link pr-0">
          <div class="media align-items-center">
            <i class="ni {{menuItem.icon}}"></i>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm  font-weight-bold">{{menuItem.title}}</span>
            </div>
          </div>
        </a>
        <a *ngIf="menuItem.title === 'Download My Resume'" class="nav-link pr-0">
          <div class="media align-items-center">
            <i class="ni {{menuItem.icon}}"></i>
            <div class="media-body ml-2 d-none d-lg-block">
              <a *ngIf="menuItem.title === 'Download My Resume'" class="mb-0 text-sm  font-weight-bold text-white" href="{{menuItem.path}}" target="_blank">{{menuItem.title}}</a>
            </div>
          </div>
        </a>
      </div>
    </ul>
  </div>
</nav>
