<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/state-of-liberty-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-info opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-5 col-md-5 pt-sm-3 pt-320-3">
        <div class="profile-photo">
          <a href="javascript:void(0)">
            <img src="assets/img/theme/profile.jpg" class="rounded-circle">
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 pt-sm-8 pt-md-0 pt-phone-8">
        <h1 class="display-2 text-white">Hi!</h1>
        <p class="text-white mt-0 mb-3">I'm Henry. I am a software engineer with 3+ years of professional experience and I love adventures, traveling, and
          taking new challenges in my life. Fun fact of me, I have volunteered in Uganda!</p>
        <p class="text-white mt-0 mb-3">Right now, I am a student in NYU Master of Science in Informaton System.
          Prior to NYU, I was a software engineer at J.P.Morgan Asset Management. There, I focused on full-stack
          web development with an international team located in New York, Glasgow, Japan and Taiwan! I was also an APAC
          coordinator responsible for communicating the requirement and team progress with the global Scrum
          Master for the APAC team!</p>
        <p class="text-white mt-0 mb-3">Besides the course, I am working on a project with CITI about creating
          the reinforcement learning platform and implementing the trading bots with thousands of trading
          strategy! Also, I am one of the contributors in the Angular open-source community since 2020.
          Although I have used Angular two years, it's my first time joining the open source project.
          I hope I could use my professional experience to make a more impactful contribution. </p>
        <p class="text-white mt-0 mb-5">I also created a dashboard to show my skill sets. You will be able to
          filter my experience and projects based on the skill set you are looking for! Click the button below
          to exlpore! And if you think there is any functionalities could help you much easier during the
          hiring process, please feel free to tell me!</p>

        <a routerLinkActive="active" [routerLink]="['/dashboard']" class="btn btn-info">Explore My Skill Sets</a>
        <ul class="nav text-white pt-5">
          <li class="nav-item">
            <a class="nav-link font-weight-bold">Contact me:</a>
          </li>
          <li class="nav-item">
            <a href="mailto: henryou0506@gmail.com" class="nav-link"><i class="fas fa-envelope-square profile-icon"></i></a>
          </li>
          <li class="nav-item">
            <a href="https://www.facebook.com/changhao.ou" class="nav-link" target="_blank"><i class="fab fa-facebook-square profile-icon"></i></a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/henry-ou/" class="nav-link" target="_blank"><i class="fab fa-linkedin profile-icon"></i></a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/eaglet" class="nav-link" target="_blank"><i class="fab fa-github-square profile-icon"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
