<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/state-of-liberty-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-info opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-5 col-md-5 pt-sm-3 pt-320-3">
        <div class="profile-photo">
          <a href="javascript:void(0)">
            <img src="assets/img/theme/profile.jpg" class="rounded-circle">
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 pt-sm-8 pt-md-0 pt-phone-8">
        <h1 class="display-2 text-white">Hi!</h1>
        <p class="text-white mt-0 mb-3">I'm Henry. I am a software engineer who loves adventures, traveling, and
          taking new challenges in my life. Fun fact of me, I have volunteered in Uganda!</p>
        <p class="text-white mt-0 mb-3">Right now, I am a student in NYU Master of Science in Informaton System.
          Prior to NYU, I was a software engineer at J.P.Morgan Asset Management. There, I focused on full-stack
          web development with an international team located in New York, Glasgow, Japan and Taiwan! I was also an APAC
          coordinator responsible for communicating the requirement and team progress with the global Scrum
          Master for the APAC team!</p>
        <p class="text-white mt-0 mb-3">Besides the course, I am working on a project with CITI about creating
          the reinforcement learning platform and implementing the trading bots with thousands of trading
          strategy! Also, I am one of the contributors in the Angular open-source community since 2020.
          Although I have used Angular two years, it's my first time joining the open source project.
          I hope I could use my professional experience to make a more impactful contribution. </p>
        <p class="text-white mt-0 mb-5">I also created a dashboard to show my skill sets. You will be able to
          filter my experience and projects based on the skill set you are looking for! Click the button below
          to exlpore! And if you think there is any functionalities could help you much easier during the
          hiring process, please feel free to tell me!</p>

        <a routerLinkActive="active" [routerLink]="['/dashboard']" class="btn btn-info">Explore Henry's Skill Sets</a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-7 order-xl-7 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"></div>
        <div class="card-body pt-8 pt-md-8 pb-0 pb-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              Jessica Jones<span class="font-weight-light">, 27</span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Bucharest, Romania
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div>
            <hr class="my-4" />
            <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
            <a href="javascript:void(0)">Show more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
