//
// Cards
//

@import "../core/cards/card";
@import "../core/cards/card-profile";
@import "../core/cards/card-blockquote";
@import "../core/cards/card-animations";
@import "../core/cards/card-stats";

.card-body {
  overflow: scroll;
  max-height: 400px;
}

.card-body-fix {
  padding: 20px;
  height: 400px;
  overflow: scroll;
}
