/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #3b7cd1;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding-top: 10px;
  position: relative;
  background-color: inherit;
  width: 100%;
  padding-left: 60px;
}

.timeline-card {
  padding-left: 70px;
}

.timeline-support-content {
  font-size: 0.8125rem;
  color: #8898aa;
}

.timeline-content {
  font-family: Open Sans, sans-serif;
  color: #525f7f;
  margin-bottom: 0px;
  white-space: pre-line;
}

.timeline-icon {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: -35px;
  background-color: white;
  border: 2px solid #236fd1;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  width: 70px;
  height: 70px;
}

.timeline-tag {
  background-color: #2dce89;
  color: white;
}
