/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #3b7cd1;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

.timeline-card {
  padding-left: 50px;
}

.timeline-date {
  font-size: 0.8125rem;
  color: #8898aa;
}

.timeline-content {
  font-family: Open Sans, sans-serif;
  color: #525f7f
}

.timeline-icon {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: -20px;
  background-color: #236fd1;
  border: 2px solid #236fd1;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
}
