// title font-size: 1.25rem;
// content font-size: 0.8125rem;

// Customize the timeline img
// .container > .inner > .head > .icon {
//   margin: 5px !important;
//   padding-right: 10px !important;
//   img {
//     border-radius: 50% !important;
//   }
// }

// .title {
//   font-size: 16px !important;
// }

// .title > span {
//   font-size: 13px !important;
// }

// .body {
//   padding: 5px !important;
// }

// .head {
//   background-color: #172b4d !important;
// }

// .container {
//   padding: 10px 20px !important;
// }

// .container:after {
//   right: -13px !important;
// }

// .left:before {
//   top: 18px !important;
//   right: 14px !important;
//   border-color: transparent transparent transparent #172b4d!important
// }

// .right:before {
//   top: 18px !important;
//   left: 14px !important;
//   border-color: transparent #172b4d transparent transparent!important
// }

// .right:after {
//   left: -12px !important;
// }

// .timeline:after {
//   left: 0 !important;
// }

// @media (max-width: 600px) {
//   .timeline:after {
//     left: 1px !important;
//   }

//   .left:after {
//     left: -11px !important;
//   }
// }



/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #3b7cd1;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

.timeline-card {
  padding-left: 50px;
}

.timeline-date {
  font-size: 0.8125rem;
  color: #8898aa;
}

.timeline-content {
  font-family: Open Sans, sans-serif;
  color: #525f7f
}

.timeline-icon {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: -20px;
  background-color: #236fd1;
  border: 2px solid #236fd1;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
}

// @media (min-width: 1800px) {
//   .timeline-icon {
//     left: -50px;
//   }
// }

// @media (min-width: 1024px) {
//   .timeline-icon {
//     left: -63px;
//   }
// }

// @media (min-width: 768px) {
//   .timeline-icon {
//     left: -20px;
//   }
// }

// @media (max-width: 600px) {
//   .timeline-icon {
//     left: -32px;
//   }
// }



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .timeline-icon {
    left: -20px;
  }
}

@media only screen and (min-width: 321px) {
  .timeline-icon {
    left: -20px;
  }
}

@media only screen and (max-width: 320px) {
  .timeline-icon {
    left: -20px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .timeline-icon {
    left: -20px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) and (max-device-width: 1841px){
  .timeline-icon {
    left: -20px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .timeline-icon {
    left: -50px;
  }
}

